.navbar-publico {
    background-color: pink;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo-navbar {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
}


.contenedor-links {
    display: flex;
    gap: 10px;
}

.contenedor-links .link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 30px;
    border: 1px solid black;
    transition: background-color 0.2s ease,
        border 0.2s ease,
        color 0.2s ease,
        transform 0.2s ease;
}

.contenedor-links .login {
    background-color: aliceblue;
}

.contenedor-links .link:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.contenedor-links .login:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.contenedor-links .login:active {
    transform: scale(1.1);

}



.contenedor-main {
    background-color: rgb(138, 145, 150);
    
    display: flex;
    align-items: center;
    justify-content:first baseline;
    flex-direction: column;
    
    height: 100vh;
}

form {
    display: grid;
    gap: 10px;
    background-color: rgb(28, 28, 28);
    padding: 20px;
}

input {
    margin-bottom: 10px;
}